.side{
  color: azure;
  
  
    
}
.header{
  padding: 0;
  background-color: #000;
  position: absolute;
  margin: 0;
  width: 94.5%;
  height: 1;
  
  
}
.avatar{
  background-color: aqua;
  color: blue;
  bottom: -40%;
  left: 9%;
  z-index: 20;
  position: relative;
}
.content{
  width: 100%;
  
}
